
@{
    ViewData["Title"] = "Cadastro";
}

<br />
<h1 class="text-center">Cadastro de Usuário</h1>
<br />

<form method="post">
    <div class="form-group">
        <div class="col-md-7">
             <label for="Nome">Nome</label>
             <div class="form-label-group">
                  <input type="text" id="Nome" name="Nome" class="form-control">
                  <span id="erroNome" name="erroNome" class="text-danger"></span><br />
             </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-7">
            <label for="CPF">CPF</label>
            <div class="form-label-group">
                <input type="text" id="CPF" name="CPF" class="form-control" placeholder="000.000.000-00">
                <span id="erroCPF" name="erroCPF" class="text-danger"></span><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-7">
            <label for="Email">Email</label>
            <div class="form-label-group">
                <input type="text" id="Email" name="Email" class="form-control">
                <span id="erroEmail" name="erroEmail" class="text-danger"></span><br />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-7">
            <label for="Senha">Senha</label>
            <div class="form-label-group">
                <input type="password" id="Senha" name="Senha" class="form-control">
                <span id="erroSenha" name="erroSenha" class="text-danger"></span><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-7">
            <label for="Senha">Confirmar Senha</label>
            <div class="form-label-group">
                <input type="password" id="ConfirmarSenha" name="ConfirmarSenha" class="form-control">
                <span id="erroConfirmarSenha" name="erroConfirmarSenha" class="text-danger"></span><br />
            </div>
        </div>
    </div>

        @{
            string[] permissao = Enum.GetNames(typeof(DTO.Enums.Permissao));
        }
   <div class="form-group">
       <div class="col-md-7">
           <label class="col-md-offset-2">Permissão</label>
           <div class="form-label-group">
               <select name="Permissao" id="Permissao" class="form-control">
                   @for (int i = 0; i < permissao.Length; i++)
                   {
                       <option value="@i">@permissao[i]</option>
                   }
               </select>
               <span id="erroPermissao" name="erroPermissao" class="text-danger"></span><br />
           </div>
       </div>
   </div>

   <div class="row">
       @if (ViewBag.MensagemErro != null)
       {
           <div class="form-group">
               <div class="col-md-10">
                   <span class="text-danger">@ViewBag.MensagemErro</span>
               </div>
           </div>
       }

       <div class="form-group col-sm text-right">
           <div class="col-md-offset-2">
               <input type="submit" value="Cadastrar" class="btn btn-secondary btn-lg" id="BotaoEnviar" name="BotaoEnviar" />
           </div>
       </div>

       <div class="form-group col-sm text-lft">
           <div class="col-md-offset-2">
               <input type="button" value="Limpar" class="btn btn-secondary btn-lg" id="BotaoLimpar" name="BotaoLimpar" />
           </div>
       </div>
   </div>
  
</form>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            var cpfMask = $("#CPF");
            cpfMask.mask('000.000.000-00', { reverse: false });

            $("#BotaoEnviar").click(function (e) {

                var sucesso = true;
                var Nome = $("#Nome").val();
                var CPF = $("#CPF").val();
                var Email = $("#Email").val();
                var Senha = $("#Senha").val();
                var ConfirmarSenha = $("#ConfirmarSenha").val();

                if (Nome == "") {
                    $("#erroNome").html("O nome deve ser informado.");
                    sucesso = false;
                }
                else {
                    if (Nome.length < 5 || Nome.length > 50) {
                        $("#erroNome").html("O nome deve conter no mínimo 5 a 50 caracteres.");
                        sucesso = false;
                    }
                    else {
                        $("#erroNome").html("");
                    }
                }

                if (CPF == "") {
                    $("#erroCPF").html("O CPF deve ser informado.");
                    sucesso = false;
                }
                else {
                    if (CPF.length != 14) {
                        $("#erroCPF").html("O CPF deve conter 14 caracteres.");
                        sucesso = false;
                    }
                    else {
                        $("#erroCPF").html("");
                    }
                }

                if (Email == "") {
                    $("#erroEmail").html("O Email deve ser informado.");
                    sucesso = false;
                }
                else {
                    $("#erroEmail").html("");
                }

                if (Senha == "") {
                    $("#erroSenha").html("A senha deve ser informada.");
                    sucesso = false;
                }
                else {
                    if (Senha.length < 5 || Senha.length > 15) {
                        $("#erroSenha").html("A senha deve conter de 5 a 15 caracteres.");
                        sucesso = false;
                    }
                    else {
                        $("#erroSenha").html("");
                    }
                }

                if (ConfirmarSenha != Senha) {
                    $("#erroConfirmarSenha").html("As senhas são diferentes.");
                    sucesso = false;
                }
                else {
                    $("#erroConfirmarSenha").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });

            $("#BotaoLimpar").click(function () {
                $("#Nome").val("");
                $("#CPF").val("");
                $("#Email").val("");
                $("#Senha").val("");
                $("#ConfirmarSenha").val("");
            });

        });

    </script>
}