@model List<RestauranteVEB.Models.UsuarioQueryViewModel>

@{
    ViewBag.Title = "Index";
}

<br />
<h1>Usuários Cadastrados</h1>
<br />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
    </tr>

    @foreach (RestauranteVEB.Models.UsuarioQueryViewModel item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Nome</td>
            <td>@item.CPF</td>
            <td>@item.Email</td>
        </tr>
    }
</table>
