@model List<RestauranteVEB.Models.IngredienteQueryViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Ingredientes Cadastrados</h2>
<br />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Quantidade</th>
    </tr>

    @foreach (RestauranteVEB.Models.IngredienteQueryViewModel item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Nome</td>
            <td>@item.Quantidade</td>
        </tr>
    }
</table>
