
@{
    ViewData["Title"] = "Bebida";
}

<br />

     <div class=" text-center">
          <h1 class="display-3">Bebida</h1>
     </div>

     <div class="text-left">
         <h2 class="display-4">Agua</h2>
         <ol style="font-family: georgia,garamond,serif; font-size: 27px; font-style: italic; ">
             <li>Com gas</li>
             <li>Sem gas</li>
         </ol>

         <h3 class="display-4">Refrigerante</h3>
         <ol style="font-family: georgia,garamond,serif; font-size: 27px; font-style: italic; ">
             <li>Coca-Cola (zero)</li>
             <li>Guarana (zero)</li>
             <li>Sprite</li>
             <li>Fanta uva</li>
             <li>Fanta laranja</li>
             <li>Pepsi (zero)</li>
             <li>Dolly</li>
         </ol>

         <h4 class="display-4">Suco</h4>
         <ol style="font-family: georgia,garamond,serif; font-size: 27px; font-style: italic; ">
             <li>Laranja</li>
             <li>Uva</li>
             <li>Maracuja</li>
             <li>Frutas vermelhas</li>
             <li>Limao</li>
         </ol>

         <h5 class="display-4">Cerveja 350ml</h5>
         <ol style="font-family: georgia,garamond,serif; font-size: 27px; font-style: italic; ">
             <li>Devassa</li>
             <li>Sol</li>
             <li>Skol</li>
             <li>Brahna</li>
             <li>Heineken</li>
             <li>Budweiser</li>
             <li>Corona</li>
             <li>Bohemia</li>
         </ol>

         <h6 class="display-4">Caipirinha</h6>
         <ol style="font-family: georgia,garamond,serif; font-size: 27px; font-style: italic; ">
             <li>Morango</li>
             <li>Maracuja</li>
             <li>Uva com hortela</li>
             <li>Kiwi</li>
             <li>Tropical</li>
             <li>Sake</li>
         </ol>
     </div>

