
@{
    ViewData["Title"] = "Comida";
}

<br />

<h1>Comida</h1>

    <div>
    <h1 class="display-3">Comidas</h1>

    </div>

    <div>
        <h2 class="display-4.5">Entradas</h2>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Bruschettas</li>
            <li>Guacamole</li>
            <li>Carpaccio</li>
            <li>Salada</li>
            <li>Sopa</li>

        </ol>
        <h3 class="display-4.5">Pesticos</h3>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Porcao de Batata Frita</li>
            <li>porcao de Lula a Milanesa</li>
            <li>Porcao de Camarao soltinho</li>
            <li>Picado de Picanha</li>
            <li>Picado de Alcatra</li>

        </ol>

        <h4 class="display-4.5">Prato Principal</h4>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Strogonoff de Frango</li>
            <li>Strogonoff de Alcatra</li>
            <li>Arroz e Feijao</li>
            <li>Lasanha a Bolonhesa</li>
            <li>Churrasco de Picanha</li>
            <li>Yakisoba</li>
            <li>Macarronada</li>
            <li>Hamburguer na Grelha</li>
            <li>Hamburguer de Frango</li>
            <li>Hamburguer Kid</li>
        </ol>

    </div>