
@{
    ViewData["Title"] = "Sobremesa";
}

<br />

    <div class="text-center">
        <h1 class="display-3">Sobremesa</h1>
    </div>

    <div>
        
        <ol style="font-family: georgia,garamond,serif; font-size: 27px; font-style: italic; ">
            <li>Petit Gateau</li>
            <li>Banana Flambada</li>
            <li>Sagu</li>
            <li>Torta de Morango</li>
            <li>Torta Alema</li>
            <li>Musse de Maracuja</li>
            <li>Sorvete</li>
            <li>Picole</li>
        </ol>
    </div>