
@{
    ViewData["Title"] = "Login";
}

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login</title>

    </head>

    <body>
        <form action="Autentica" method="post">
            <div class="form-group">
                <div class="form-label-group">
                    <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Usuario">
                    <label for="usuario">Usuario</label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-label-group">
                    <input type="password" name="Senha" id="Senha" class="form-control" placeholder="Senha">
                    <label for="Senha">Senha</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>

    </body>
</html>