
@{
    ViewData["Title"] = "Cadastrar";
}

<br />
<h1 class="text-center">Cadastro de Sobremesa</h1>
<br />

<form method="post">
    <center>
        <div class="form-group">
            <div class="col-md-7 text-left">
                <label for="Nome">Nome</label>
                <div class="form-label-group">
                    <input type="text" id="Nome" name="Nome" class="form-control">
                    <span id="erroNome" name="erroNome" class="text-danger"></span><br />
                </div>
            </div>
        </div>
    </center>

    <center>
        <div class="form-group">
            <div class="col-md-7 text-left">
                <label for="Preco">Preco</label>
                <div class="form-label-group">
                    <input type="text" id="Preco" name="Preco" class="form-control">
                    <span id="erroPreco" name="erroPreco" class="text-danger"></span><br />
                </div>
            </div>
        </div>
    </center>

    <div class="row">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="form-group">
                <div class="col-md-10">
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                </div>
            </div>
        }

        <div class="form-group col-sm text-right">
            <div class="col-md-offset-2">
                <input type="submit" value="Cadastrar" class="btn btn-secondary btn-lg" id="BotaoEnviar" name="BotaoEnviar" />
            </div>
        </div>

        <div class="form-group col-sm text-left">
            <div class="col-md-offset-2">
                <input type="button" value="Limpar" class="btn btn-secondary btn-lg" id="BotaoLimpar" name="BotaoLimpar" />
            </div>
        </div>

    </div>
</form>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#BotaoEnviar").click(function (e) {

                var sucesso = true;
                var Nome = $("#Nome").val();
                var Preco = $("#Preco").val();

                if (Nome == "") {
                    $("#erroNome").html("O nome deve ser informado.");
                    sucesso = false;
                }
                else {
                    if (Nome.length < 3 || Nome.length > 50) {
                        $("#erroNome").html("O nome deve conter no mínimo 3 a 50 caracteres.");
                        sucesso = false;
                    }
                    else {
                        $("#erroNome").html("");
                    }
                }

                if (Preco == "") {
                    $("#erroPreco").html("O Preco deve ser informado.");
                    sucesso = false;
                }
                else {
                    $("#erroPreco").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }
            });

            $("#BotaoLimpar").click(function () {
                $("#Nome").val("");
                $("#Preco").val("");
            });

        });

    </script>
}