@model List<RestauranteVEB.Models.RefeicaoQueryViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />
<h1>Refeições Cadastradas</h1>
<br />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preco</th>
    </tr>

    @foreach (RestauranteVEB.Models.RefeicaoQueryViewModel item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Nome</td>
            <td>@item.Preco.ToString("C2")</td>
        </tr>
    }
</table>