@model List<RestauranteVEB.Models.PedidoQueryViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />
<h1>Pedidos Cadastrados</h1>
<br />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Preco</th>
    </tr>

    @foreach (RestauranteVEB.Models.PedidoQueryViewModel item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.NomeNoPedido</td>
        </tr>
    }
</table>
