@{
    ViewData["Title"] = "Home Page";
}
    <br />

    <div class="text-center">
        <h1 class="display-3">MENU</h1>
    </div>

    <div class="text-left">
        <h1 class="display-4.3">Bebidas</h1>
        <h2 class="display-4.5">Agua</h2>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Com gas</li>
            <li>Sem gas</li>
        </ol>
        <h2 class="display-4.5">Refrigerante</h2>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Coca-Cola (zero)</li>
            <li>Guarana (zero)</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

        </ol>
        <h2 class="display-4.5">Suco</h2>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Com gas</li>
            <li>Sem gas</li>
        </ol>
        <h2 class="display-4.5">Cerveja</h2>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Com gas</li>
            <li>Sem gas</li>
        </ol>
        <h2 class="display-4.5">Destilados</h2>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>Com gas</li>
            <li>Sem gas</li>
        </ol>
    </div>

    <div>
        <h1 class="display-4.3">Comidas</h1>
        <ol style="font-family: georgia,garamond,serif; font-size: 28px; font-style: italic; ">
            <li>comida</li>
        </ol>
    </div>