@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem vindo ao sistema de resrtaurante seu arrombado</h1>
        <h2 class="display-5">É só clicar em alguma coisa do lado pra funcionar seu merda</h2>
    </div>
