@{
    ViewData["Title"] = "Home Page";
}
    <br />

    <div class="text-center">
        <h1 class="display-4">BEM VINDO AO RESTAURANTE VEB</h1>
    </div>

    <div class="text-left">
        <h2 class="display-5">COMIDA CASEIRA E FRESQUINHA</h2>

    </div>
